{"player":{"exp_level":[5,10,20,40,80,160]},"dungeons": [{"drop_object":"", "exp_reward": 0, "penalty": -5, "reward": 10, "name": "dun_1", "neighbor": ["main_city"], "victory_chance": 0.9}, {"drop_object":"", "exp_reward": 0, "penalty": -25, "reward": 50, "name": "dun_2", "neighbor": ["main_city", "dun_3"], "victory_chance": 0.2}, {"drop_object":"", "exp_reward": 0, "penalty": -50, "reward": 100, "name": "dun_3", "neighbor": ["dun_2", "dun_4"], "victory_chance": 0.03}, {"drop_object":"", "exp_reward": 0, "penalty": -10, "reward": 30, "name": "dun_4", "neighbor": ["dun_3"], "victory_chance": 0.8}], "cities": [{"extra_price": 30, "name": "main_city", "neighbor": ["dun_1", "dun_2"], "inventory_price": {"orange": 20, "apple": 10, "banana": 15}}]}
